/* ---------- HEADER PROPERTIES ---------- */

header#heading-expo {
    background-image: url(../img/bg.jpg);
    color:#fff;
}


header .intro-text .intro-heading{
    font-family:Open Sans,sans-serif;
    font-weight:700;
    font-size:25px;
    line-height:30px;
    margin-bottom:25px;
    letter-spacing: -1px;
}

@media (min-width:768px){header .intro-text{padding-top:250px;padding-bottom:150px}

    header .intro-text .intro-heading{font-family:Open Sans,sans-serif;font-weight:800;font-size:38px;line-height:35px;margin-bottom:60px}
}


