body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

.text-muted {
    color: #777;
}

p {
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}

a {
    color: #d1541a;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #e46425;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-weight: 700;
}

.no-uppercase {
    text-transform: none;
}

.btn-xl {
    color: #fff;
    background-color: #d1541a;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 6px;
    font-size: 12px;
    padding: 15px 40px;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active {
    color: #333;
}

div.container.fixed-nav {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
}

@media (min-width:768px) {
    .btn-xl{
        font-weight:700;
        font-size:14px;
        padding:25px 70px;
    }

    div.container.fixed-nav {
        padding: 0;
        padding-top: 100px;
    }
}


/* ---------- NAVIGATION BAR PROPERTIES ---------- */
.navbar-default {
    background-color: #65b5c3;
    border-bottom: 0;
    top: 0;
    height: 40px;
    width: 100%;
    z-index: 10;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

/* Toggle button for menu displayed on mobile browsers */
.navbar-default .navbar-toggle {
    background-color: #d1541a;
    border-color: #d1541a;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color:#fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #d1541a;
}

.navbar-default .navbar-collapse[aria-expanded=true] .navbar-nav {
    background-color: #65b5c3;
    margin-top: 0;
}

/* Menu line */
.navbar-default .nav li a {
    text-transform: uppercase;
    font-weight: 600;
    color: #20555f;
    font-size: 13px;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    color: #d1541a;
    outline: 0;
}

.navbar-default .navbar-nav > .active > a {
    color: #fff;
    background-color: #d1541a;
}

/* Storesense expo logo */
.navbar-default .navbar-brand img {
    width: 120px;
    float: left;
    position: relative;
    top: -10px;
}

.fixed-nav{
    padding: 100px 0 50px;
    text-align: justify;
}

@media (min-width:768px) {

    .navbar-default {
        top: 0;
        height: 85px;
        width: 100%;
        z-index: 10;
        padding-bottom: 5px;
        padding-top: 30px;
    }

    .navbar-transparent{
        background-color: transparent;
        border-bottom: 0;
    }

    .navbar-default .navbar-nav > .active > a {
        border-radius: 3px;
    }

    .navbar-transparent.navbar-shrink {
        background-color: #65b5c3;
        border-bottom: 1px solid #1b5862;
    }

    .navbar-default .navbar-brand img {
        width: 150px;
        top: -20px;
    }

    .navbar-default .nav li a {
        font-weight: 700;
        font-size: 14px;
    }
}

/* ---------- HEADER PROPERTIES ---------- */

header{
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
}

header .intro-text {
    padding-top: 80px;
    padding-bottom: 40px;
}

/* ---------- SECTIONS BASE ---------- */

section {
    padding: 20px 0;
}

@media (min-width: 768px){
    section {
        padding: 30px 0;
    }
}

section h2.features-heading {
    font-weight: 600;
    font-size: 22px;
    color: #1c5d6c;
    letter-spacing: -2px;
    text-transform: none;
}

.rectangle {
    width: 90px;
    height: 5px;
    background: #1c5d6c;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
}

.rectangle.white {
    background-color: #ffffff;
}

@media (min-width: 768px) {
    section h2.features-heading {
        font-weight: 800;
        font-size: 30px;
    }

    .rectangle {
        width: 140px;
        height: 7px;
        margin-top: 25px;
    }
}

/* ---------- SECTION - KEY BENEFITS ---------- */

/* properties for two paragraphs */
p.features-big-data {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    margin-top: 25px;
}

/* callout properties */
.callout {
    color: #ffb301;
    text-align: center;
    letter-spacing: -1px;
}

h3.callout {
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 40px;
}

h3.callout-not-first {
    margin-top: 20px;
}

@media (min-width: 768px) {
    p.features-big-data{
        text-align: left;
        font-size: 14px;
        font-weight: 500;
        margin-top: 30px;
        letter-spacing: -1px;
    }

    h3.callout{
        font-size: 25px;
        margin-top: 50px;
        height:60px;
    }
}

/* ---------- SECTION - CASE STUDY ------------ */

section#case-study {
    background: #65b5c3 no-repeat center;
    color: #fff;
}
section#case-study .row {
    padding-top: 10px;
    padding-bottom: 10px;
}

section#case-study h2.features-heading {
    color: #fff;
}

section#case-study .rectangle {
    background: #fff;
}

section#case-study a {
    color: #d1541a; 
}

section#case-study a:hover, 
section#case-study a:focus,
section#case-study a:active,
section#case-study a.active {
    color: #ffb301;
}

section#case-study .casestudy-cta {
    padding-top: 20px;
    font-size: 18px;
}

section#case-study .casestudy-desc {
    font-size: 18px;
}


/* ---------- SECTION - WHITEPAPER LINK ------------ */

section#whitepaper-link .padded-row {
    padding-top: 30px;
    padding-bottom: 60px;
}
section#whitepaper-link {
    background: #80CBD2 no-repeat center;
    color: #fff;
}

section#whitepaper-link h2.features-heading {
    color: #fff;
}

section#whitepaper-link .rectangle {
    background: #fff;
}

section#whitepaper-link a {
    color: #d1541a; 
}

section#whitepaper-link a:hover, 
section#whitepaper-link a:focus,
section#whitepaper-link a:active,
section#whitepaper-link a.active {
    color: #ffb301;
}

section#whitepaper-link .casestudy-cta {
    padding-top: 20px;
    font-size: 18px;
}

section#whitepaper-link .casestudy-desc {
    font-size: 18px;
}

.whitepaper-icon {
    height: 90px;
}
section#whitepaper-link p {
    color: #1c5d6c;
    padding-top: 30px;
    padding-bottom: 10px;
}

@media (min-width: 1200px) {
        section#whitepaper-link .whitepaper-text {
            border-right: solid #fff; 
            border-width: 1px;
        }
    }



/* ----------- SECTION - KEY FEATURES */

section#key-features .rectangle {
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    section#key-features .rectangle {
        margin-bottom: 50px;
    }
}

.parent-rect{
    overflow: hidden;
}

.rect {
    border-right-style: solid;
    border-right-width: 2px;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

#nw-rect {
    background: #336e7b;
    border-right-color: #9bbac0;
}

#ne-rect {
    background: #4d8993;
    border-left-color: #9bbac0;
    border-right-color: #fff;
}

#sw-rect {
    background: #76acb2;
    border-right-color: #bed8da;
}

#se-rect {
    background: #91bfc1;
    border-right-color: #fff;
    border-left-color: #bed8da;
}

h3.longer-title {
    font-size: 16px;
    padding-top: 20px;
    text-align: center;
    color: #fff;
}

@media (min-width: 768px) {
    h3.longer-title {
        font-size: 22px;
    }
}

/* ---------- CONTACT PROPERTIES ---------- */

section#contact h2 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 15px;
    color:#fff
}

section#contact {
    background: #1c5d6c no-repeat center;
}

@media (min-width:768px) {
    section#contact h2 {
        font-size: 30px;
        letter-spacing: -1px;
    }
}

/* ---------- SECTION - AS SEEN ON ---------- */

.pr_icon {
    padding-right: 20px;
}

.pr_icons {
    padding-top: 50px;
}
section#as-seen-on img {
    padding-top: 50px; padding-right: 50px;
}

/* ---------- FOOTER PROPERTIES ---------- */

footer {
    padding-top: 25px;
    padding-bottom: 15px;
    background-color: #174249;
    color: #fff;
    font-size: 10px;
    font-weight: 300;
}

footer span.copyright {
    line-height: 40px;
    text-transform:none;
}

footer a {
    color:#fff;
}

footer a:hover,
footer a:focus,
footer a:active,
footer a.active {
    color: #d1541a;
}

footer h3 {
    padding-bottom: 10px;
    font-size: 20px;
}

#footer .col-md-1 {
    text-align: center;
}

footer img {
    width: 25px;
    height: auto;
}

@media (min-width: 768px) {
    footer {
        font-size: 12px;
    }

    footer img {
        width: auto;
        height: auto;
        margin-top: 5px;
    }

    footer h3 {
        font-size: 24px;
    }
}

/* ------------------ COOKIE WARNING ------------------- */
.affix {
    bottom: 0;
}

div.cookie-warning {
    height: auto;
    width: 100%;
    background-color: #2E2E2E;
}

/* ------------------ JAN ADDITIONAL ------------------- */

.features-quote {
    font-size: 16px;
}

.features-attr {
    font-size: 14px;
    font-weight: 300;
}



.callout-desc {
    text-align: center;
    color: #1c5d6c;
    font-size:14px;
}

.rect-maintext  {
    color: #fff;
    padding-top: 20px;
    text-align: center;
    font-size: 18px;
    padding-bottom: 20px;
}

@media (min-width: 768px) {
    .features-quote {
        font-size: 18px;
    }

    .features-attr {
        font-size: 14px;
    }

    .callout-desc {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
}

::-moz-selection {
    text-shadow: none;
    background: rgba(0,0,0,0.5);
}

::selection {
    text-shadow: none;
    background: rgba(0,0,0,0.5);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body{
    -webkit-tap-highlight-color: rgba(0,0,0,0.5);
}
