.navbar-default .navbar-brand img {
    height: 45px;
}

.navbar-default.navbar-shrink .navbar-brand img {
    height: 45px;
}

@media (min-width:768px){
    .navbar-default .navbar-brand img {
        height: 75px;
    }
    .navbar-default.navbar-shrink .navbar-brand img {
        height: 75px;
    }
}

header#heading-expo {
    background-image: url(../img/bg.jpg);
	color:#fff;
}

header .intro-text .intro-heading{font-family:Open Sans,sans-serif;font-weight:700;font-size:25px;line-height:30px;margin-bottom:25px;}

@media (min-width:768px){header .intro-text{padding-top:250px;padding-bottom:150px}

    header .intro-text .intro-heading{font-family:Open Sans,sans-serif;font-weight:800;font-size:45px;line-height:75px;margin-bottom:50px}
}

p.features-big-data{
    font-family: "Open Sans", sans-serif;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    margin-top: 30px;
}

