/* ---------- LOGO HEIGHT IN NAVIGATION BAR ---------- */

.navbar-default .navbar-brand img {
    height: 45px;
}

.navbar-default.navbar-shrink .navbar-brand img {
    height: 45px;
}

@media (min-width:768px){
    .navbar-default .navbar-brand img {
        height: 75px;
    }
    .navbar-default.navbar-shrink .navbar-brand img {
        height: 75px;
    }
}

/* ---------- HEADER PROPERTIES ---------- */

header#heading-expo {
    background-image: url(../img/bg.jpg);
    color:#fff;
}

header .intro-text .intro-heading{font-family:Open Sans,sans-serif;font-weight:700;font-size:25px;line-height:30px;margin-bottom:25px;}

@media (min-width:768px){header .intro-text{padding-top:250px;padding-bottom:150px}

    header .intro-text .intro-heading{font-family:Open Sans,sans-serif;font-weight:800;font-size:45px;line-height:75px;margin-bottom:50px}
}


p.features-big-data{
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    margin-top: 25px;
}

.callout{
    color: #FFB301;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    letter-spacing: -1px;
}

h2.callout{

    font-size: 28px;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: -1px;
}

h3.callout{
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 40px;
}

h4.callout{
    font-size: 13px;
    font-weight: 400;
    text-transform: capitalize;
    margin-top: -5px;
}

@media (min-width: 768px) {
    p.features-big-data{
        text-align: left;
        font-size: 16px;
        font-weight: 600;
        margin-top: 30px;
    }

    h2.callout{
        font-size: 45px;
    }

    h3.callout{
        font-size: 30px;
        margin-top: 70px;
    }

    h4.callout{
        font-size: 17px;
    }

}

section h4.insights {
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: -1px;
}

section p.insights {
    font-size: 14px;
    margin-bottom: 2px;
    text-align: left;
    font-weight: 200;
    letter-spacing: -1px;
}

section .insight-descr {
    margin-top: 30px;
}

section#longer-insights .features-heading {
    margin-top: 10px;
}

@media (min-width: 768px) {
    section h4.insights {
        font-size: 25px;
        font-weight: 800;
    }

    section p.insights {
        font-size: 18px;
        margin-bottom: 4px;
    }

    section .insight-descr {
        margin-top: 50px;
    }

    section#longer-insights .features-heading {
        margin-top: 50px;
    }
}


.rect{
    border-right-style: solid;
    border-right-width: 2px;
}
#nw-rect{
    background: #336E7B;
    border-right-color: #9BBAC0;
    /*margin-bottom: 50px;*/
}
#ne-rect{
    background: #4D8993;
    border-left-color: #9BBAC0;
    border-right-color: #fff;
    /*margin-bottom: 50px;*/
}
#sw-rect{
    background: #76ACB2;
    border-right-color: #BED8DA;
}
#se-rect{
    background: #91BFC1;
    border-right-color: #fff;
    border-left-color: #BED8DA;
}
section .longer-title{
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
    padding-top: 70px;
    padding-bottom: 170px;
    /*margin-top: 70px;
    margin-bottom: 170px;*/
    color: #fff;
    text-transform: none;
    text-align: center;
    font-weight: 700;
    letter-spacing: -1px;
}

section#longer-insights .rectangle {
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    section#longer-insights .rectangle {
        margin-bottom: 50px;
    }
}