<section id="as-seen-on">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="features-heading">As seen on</h2>
                <div class="rectangle"></div>
            </div>
        </div>
        <div class="row">
             <div class="col-lg-12 text-center pr-icons">
                <a href="http://www.eventmagazine.co.uk/event-tech-storesense-wi-fi-technology/event-technology/article/1361719" target="_blank">
                    <img src="{{ site.baseurl }}/img/logos/EM_logo.gif" class="pr-icon" style="height: 110px;">
                </a>
                 <a href="http://www.conference-news.co.uk/2015/08/smartphone-system-tracks-trade-show-delegates/" target="_blank">
                    <img src="{{ site.baseurl }}/img/logos/conferencenewslogo.jpg" class="pr-icon">
                </a>
                 <a href="http://www.eventindustrynews.co.uk/event-technology-news/storesense-expo-uses-microsoft-success-to-launch-evaluation-technology/" target="_blank">
                    <img src="{{ site.baseurl }}/img/logos/ein_logo.png" class="pr-icon">
                </a>
                 <a href="http://www.b2bmarketing.net/news/archive/news-passive-wi-fi-analytics-set-revolutionise-live-event-evaluation" target="_blank">
                    <img src="{{ site.baseurl }}/img/logos/b2bmarketing.png" class="pr-icon">
                </a>
                 <a href="http://www.eventtechlive.com/storesense-expo-uses-microsoft-success-to-launch-evaluation-technology/ " target="_blank">
                    <img src="{{ site.baseurl }}/img/logos/Event_Tech_Live_TP.png" class="pr-icon">
                </a>
                 <a href="http://www.exhibitionnews.co.uk/newsdetails/4830/storesense-expo-reveals-new-service-to-track-trade-show-visitors" target="_blank">
                    <img src="{{ site.baseurl }}/img/logos/eventnews_logo.png" class="pr-icon" style="height: 100px;">
                </a>
                <a href="http://www.meetpie.com/modules/newsmodule/newsdetails.aspx?t=Storesense-Expo-brings-passive-Wi-Fi-analytics-to-events&newsid=21477 " target="_blank"> 
                    <img src="{{ site.baseurl }}/img/logos/Meetpie_Logo.gif" class="pr-icon">
                </a>
             </div>
        </div>
    </div>
</section>
