<section id="case-study">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="features-quote">
                    <p>
                        “Storesense Expo supported our intuitive understanding of visitor behaviour with concrete data and analytics. We now have a better foundation to organise the next event, negotiate with event sponsors, and make it even more attractive for visitors.”
                    </p>
                </div>
                <div class="features-attr">
                    <p>Gregor Potočar, Sales Director, Microsoft Slovenia</p>
                </div>
            </div>
        </div>
    </div>
</section>