<section id="case-study">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="features-quote">
                    <p>
                        “We were very happy with the detailed analytics Expo was able to provide us with. We know our sponsors will appreciate the level of insight as it will help them to prove the return on their investment. Expo has also provided us with insights into visitor flows which will help make the next Festival of Marketing even better.”
                    </p>
                </div>
                <div class="features-attr">
                    <p>Bradley Cooper, Festival of Marketing, Centaur Media</p>
                </div>
            </div>
        </div>
    </div>
</section>