<section id="longer-insights">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="features-heading">Key features</h2>
                <div class="rectangle"></div>
            </div>
        </div>
        <div class="row parent-rect">
            <div class="col-md-offset-1 col-md-5 col-xs-6 rect" id="nw-rect">
                <h3 class="longer-title">In-store advertising optimisation</h3>
                <div class="rect-maintext">
                    <p><i class="fa fa-crosshairs fa-5x"></i></p>
                </div>
            </div>
            <div class="col-md-5 col-xs-6 rect" id="ne-rect">
                <h3 class="longer-title">Buying customer detection</h3>
                <div class="rect-maintext">
                    <p><i class="fa fa-line-chart fa-5x"></i></p>
                </div>
            </div>
        </div>
        <div class="row parent-rect">
            <div class="col-md-offset-1 col-md-5 col-xs-6 rect" id="sw-rect">
                <h3 class="longer-title">Store layout optimisation</h3>
                <div class="rect-maintext">
                    <p><i class="fa fa-random fa-5x"></i></p>
                </div>
            </div>
            <div class="col-md-5 col-xs-6 rect" id="se-rect">
                <h3 class="longer-title">EU privacy standards</h3>
                <div class="rect-maintext">
                    <p><i class="fa fa-eye-slash fa-5x"></i></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
   <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="features-heading">In-store advertising optimisation</h2>
                <div class="rectangle"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <img src="{{ site.baseurl }}/img/insight-instoread-2.png" class="feature-image">
            </div>
            <div class="col-md-7">
                <p>Discover the best positions to advertise to different customer segments, optimise and increase the effectiveness of in-store advertising<p>
            </div>
        </div>
    </div>
</section>
