<section id="key-features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="features-heading">Key features</h2>
                <div class="rectangle"></div>
            </div>
        </div>
        <div class="row parent-rect">
            <div class="col-md-offset-1 col-md-5 col-xs-6 rect" id="nw-rect">
                <h3 class="longer-title">In-store advertising optimisation</h3>
                <div class="rect-maintext">
                    <p>Discover the best positions to advertise to different customer segments</p>
                </div>
            </div>
            <div class="col-md-5 col-xs-6 rect" id="ne-rect">
                <h3 class="longer-title">Buying customer detection</h3>
                <div class="rect-maintext">
                    <p>Gain insight into customers leaving your store without a purchase</p>
                </div>
            </div>
        </div>
        <div class="row parent-rect">
            <div class="col-md-offset-1 col-md-5 col-xs-6 rect" id="sw-rect">
                <h3 class="longer-title">Customer satisfaction</h3>
                <div class="rect-maintext">
                    <p>Find the optimal spaces to place resting areas and decrease waiting times with queue analytics</p>
                </div>
            </div>
            <div class="col-md-5 col-xs-6 rect" id="se-rect">
                <h3 class="longer-title">EU privacy standards</h3>
                <div class="rect-maintext">
                    <p>Full compliance with EU privacy directives.</p>
                </div>
            </div>
        </div>
    </div>
</section>
