<section id="key-benefits">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="features-heading">Key benefits</h2>
                <div class="rectangle"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-s-4">
                <p class="features-big-data">
                    <h3 class="callout">Visitor flows</h3>
                    <div class="callout-desc">
                        Constant insight into vistior flows instantly identifies low traffic zones
                    </div>
                </p>
            </div>
            <div class="col-md-4 col-s-4">
                <p class="features-big-data">
                    <h3 class="callout">Store analytics</h3>
                    <div class="callout-desc">
                        Capture additional revenue by re-selling store visitor analytics
                    </div>
                </p>
            </div>
            <div class="col-md-4 col-s-4">
                <p class="features-big-data">
                    <h3 class="callout">Location quality</h3>
                    <div class="callout-desc">
                        Increase rent revenue by measuring store location quality
                    </div>
                </p>
            </div>
        </div>
    </div>
</section>