<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="features-heading">Key benefits</h2>
                <div class="rectangle"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-s-4">
                <p class="features-big-data">
                    <h3 class="callout">Shopping malls</h3>
                    <div class="callout-desc">
                        Charge more for rent by accurately measuring store location quality, monitor the traffic flows and increase revenue by reselling the visit analytics to stores
                    </div>
                </p>
            </div>
            <div class="col-md-4 col-s-4">
                <p class="features-big-data">
                    <h3 class="callout">Retail locations</h3>
                    <div class="callout-desc">
                        Increase customer satisfaction, optimise in-store advertising and increase in-store revenue
                    </div>
                </p>
            </div>
            <div class="col-md-4 col-s-4">
                <p class="features-big-data">
                    <h3 class="callout">Event venues</h3>
                    <div class="callout-desc">
                        Attract and retain the best events by providing state-of the art analytics for event organisers and sponsors with EXPO
                    </div>
                </p>
            </div>
        </div>
    </div>
</section>