<section id="key-benefits">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="features-heading">Key benefits</h2>
                <div class="rectangle"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-s-4">
                <p class="features-big-data">
                    <h3 class="callout">Shopping malls</h3>
                    <div class="callout-desc">
                        Increase rent revenue by measuring store location quality, monitor traffic flows and resell the analytics to each store
                    </div>
                </p>
            </div>
            <div class="col-md-4 col-s-4">
                <p class="features-big-data">
                    <h3 class="callout">Retail locations</h3>
                    <div class="callout-desc">
                        Increase customer satisfaction, optimise in-store advertising and increase in-store revenue with customer acquisition analytics
                    </div>
                </p>
            </div>
            <div class="col-md-4 col-s-4">
                <p class="features-big-data">
                    <h3 class="callout">Events</h3>
                    <div class="callout-desc">
                        <a href="http://expo.storesense.info">EXPO</a> provides state-of-the art reporting and actionable recommendations for venue owners, event organisers and exhibitors
                    </div>
                </p>
            </div>
        </div>
    </div>
</section>