<section id="key-features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="features-heading">Key features</h2>
                <div class="rectangle"></div>
            </div>
        </div>


   <div class="row">
            <div class="col-md-5 feature-images">
                 <img src="{{ site.baseurl }}/img/mockups/store_analytics.png" class="feature-mockup">
            </div>
            <div class="col-md-6 feature-desc">
                
                <h4>In-depth store analytics</h4>
                <p>Track individual visit statistics for stores: number of visitors, average visit time, visit distribution, conversion rate from passers-by to stand visitors and visitor return rate. Share the results with a single click.</p>
            </div>

        </div>


       <div class="row">
            <div class="col-md-5 feature-images">
                 <img src="{{ site.baseurl }}/img/mockups/store_visitors.png" class="feature-mockup">
            </div>
            <div class="col-md-6 feature-desc">
                
                <h4>Mall visit analytics</h4>
                <p>Global mall overview combines individual visit analytics that helps identify good and poor performers and visitor behaviour patterns.</p>

            </div>

        </div>

       <div class="row">
            <div class="col-md-5 feature-images">
                 <img src="{{ site.baseurl }}/img/mockups/mall_flows.png" class="feature-mockup">
            </div>
            <div class="col-md-6 feature-desc">
                
                <h4>Visitor flow analytics</h4>
                <p>Analyse global visitor movement on a single picture. The aggregate flow display shows the number of visitors travelling down a specific passage and their average speed and highlights low traffic zones and hot-spots.</p>
            </div>

        </div>

       <div class="row">
            <div class="col-md-5 feature-images">
                 <img src="{{ site.baseurl }}/img/mockups/mall_location_quality.png" class="feature-mockup">
            </div>
            <div class="col-md-6 feature-desc">
                
                <h4>Location quality analytics</h4>
                <p>Assigns quality to each location based on the percentage of mall visitors that pass it. The location quality display identifies popular locations and provides you with all the proof you need to justify premium pricing.</p>
            </div>

        </div>


    </div>
</section>
