<section id="whitepaper-link">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-md-offset-1 text-center">
                <img src="{{ site.baseurl }}/img/whitepaper-icon.png" class="whitepaper-icon">
            </div>
            <div class="col-md-3 whitepaper-text text-center">
                <p>Download our whitepaper for more information on using technology to get the most out of your events.</p>
                <!-- HubSpot Call-to-Action Code -->
                <span class="hs-cta-wrapper" id="hs-cta-wrapper-458e8008-f6b0-4ac6-9fd4-357559b890af">
                    <span class="hs-cta-node hs-cta-458e8008-f6b0-4ac6-9fd4-357559b890af" id="hs-cta-458e8008-f6b0-4ac6-9fd4-357559b890af">
                        <!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]-->
                        <a href="http://cta-redirect.hubspot.com/cta/redirect/735484/458e8008-f6b0-4ac6-9fd4-357559b890af" class="btn btn-xl btn-blue">
                            Download whitepaper
                        </a>
                    </span>
                    <script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script>
                    <script type="text/javascript">
                        hbspt.cta.load(735484, '458e8008-f6b0-4ac6-9fd4-357559b890af');
                    </script>
                </span>
                <!-- end HubSpot Call-to-Action Code -->
            </div> 
            <div class="col-md-2 text-center">
               <img src="{{ site.baseurl }}/img/case-study-icon.png" class="whitepaper-icon">
            </div>
            <div class="col-md-3 text-center">
                <p>How Expo helped Centaur Media uncover key indicators at their Festival of Marketing</p>
                <!-- HubSpot Call-to-Action Code -->
                <span class="hs-cta-wrapper" id="hs-cta-wrapper-d90bae46-ae67-476c-8604-68e693a6406f">
                    <span class="hs-cta-node hs-cta-d90bae46-ae67-476c-8604-68e693a6406f" id="hs-cta-d90bae46-ae67-476c-8604-68e693a6406f">
                        <!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]-->
                        <a href="http://cta-redirect.hubspot.com/cta/redirect/735484/d90bae46-ae67-476c-8604-68e693a6406f" target="_blank" class="btn btn-xl btn-blue">
                            Download case study
                        </a>
                    </span>
                    <script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script>
                    <script type="text/javascript">
                        hbspt.cta.load(735484, 'd90bae46-ae67-476c-8604-68e693a6406f');
                    </script>
                </span>
                <!-- end HubSpot Call-to-Action Code -->
            </div>
        </div>
    </div>
</section>