<!-- Features Section -->
<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="features-heading">Key benefits</h2>
                <div class="rectangle"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-s-4">
                <p class="features-big-data">
                    <h3 class="callout">Event organisers</h3>
                    <div class="callout-desc">
                        Increase revenue by identifying more premium positions and reduce sales cycles by demonstrating
                        the value of each event space.
                    </div>
                </p>
            </div>
            <div class="col-md-4 col-s-4">
                <p class="features-big-data">
                    <h3 class="callout">Exhibitors and sponsors</h3>
                    <div class="callout-desc">
                        Measure touchpoints, evaluate engagement strategy and easily benchmark different events to
                        optimise your event presence.
                    </div>
                </p>
            </div>
            <div class="col-md-4 col-s-4">
                <p class="features-big-data">
                    <h3 class="callout">Venue owners</h3>
                    <div class="callout-desc">
                        Attract and retain the best events by providing state-of the art analytics for event organisers
                        and sponsors.
                    </div>
                </p>
            </div>
        </div>
    </div>
</section>

<section id="insights">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="features-quote">
                    <p>
                        “Storesense Expo supported our intuitive understanding of visitor behaviour with concrete data
                        and analytics. We now have a better foundation to organise the next event, negotiate with event
                        sponsors, and make it even more attractive for visitors.”
                    </p>
                </div>
                <div class="features-attr">
                    <p>Gregor Potočar, Sales Director, Microsoft Slovenia</p>
                </div>
                <div class="rectangle"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="casestudy-cta">
                    <p>
                      See how Microsoft improved their NT conference with Storesense Expo in our
                      <a href="{{ site.baseurl }}/files/Expo - NT conference case study.pdf">case study</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="longer-insights">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="features-heading">Key features</h2>
                <div class="rectangle"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-1 col-md-5 rect" id="nw-rect">
                <h3 class="longer-title">Booth space benchmarking</h3>
                <div class="rect-maintext">
                    <p><i class="fa fa-crosshairs fa-5x"></i></p>
                </div>
            </div>
            <div class="col-md-5 rect" id="ne-rect">
                <h3 class="longer-title">Sponsor analytics</h3>
                <div class="rect-maintext">
                    <p><i class="fa fa-line-chart fa-5x"></i></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-1 col-md-5 rect" id="sw-rect">
                <h3 class="longer-title">Visitor profiles</h3>
                <div class="rect-maintext">
                    <p><i class="fa fa-users fa-5x"></i></p>
                </div>
            </div>
            <div class="col-md-5 rect" id="se-rect">
                <h3 class="longer-title">EU privacy standards</h3>
                <div class="rect-maintext">
                    <p><i class="fa fa-eye-slash fa-5x"></i></p>
                </div>
            </div>
        </div>
    </div>
</section>
