<header id="heading-expo">
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">Powering the next generation of events</div>

            <!--HubSpot Call-to-Action Code -->
            <span class="hs-cta-wrapper" id="hs-cta-wrapper-e360ce47-4d3a-461e-9415-2d8cb2396a47">
                <span class="hs-cta-node hs-cta-e360ce47-4d3a-461e-9415-2d8cb2396a47"
                      id="hs-cta-e360ce47-4d3a-461e-9415-2d8cb2396a47">
                    <!--[if lte IE 8]>
                    <div id="hs-cta-ie-element"></div><![endif]-->
                    <a href="http://cta-redirect.hubspot.com/cta/redirect/735484/e360ce47-4d3a-461e-9415-2d8cb2396a47"><img
                            class="hs-cta-img" id="hs-cta-img-e360ce47-4d3a-461e-9415-2d8cb2396a47"
                            style="border-width:0px;"
                            src="https://no-cache.hubspot.com/cta/default/735484/e360ce47-4d3a-461e-9415-2d8cb2396a47.png"
                            alt="New Call-to-action"/></a>
                </span>
                <script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script>
                <script type="text/javascript">
                    hbspt.cta.load(735484, 'e360ce47-4d3a-461e-9415-2d8cb2396a47');
                </script>
            </span>
            <!-- end HubSpot Call-to-Action Code -->
        </div>
    </div>
</header>
