<header id="heading-storesense">
    <div class="container">
        <div class="intro-text">
            <div class="row">
                <div class="col-md-8">
                    <div class="intro-heading">Making sense of your store</div>

                    <h3 class="intro-subheading">
                        Storesense helps you drive in-store effectiveness and optimise the shopping experience using
                        advanced Wi-Fi location analytics
                    </h3>
                </div>
                <div class="col-md-4">
                    <a href="#contact" class="page-scroll btn btn-xl header-btn">Schedule a demo</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8"></div>
            </div>
        </div>
    </div>
</header>