<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ page.title }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ site.baseurl }}/css/main.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/{{ include.param }}.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/hubspot.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ site.baseurl }}/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700,800,900,1000' rel='stylesheet'  type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- SumoMe integration -->
    <!--<script src="//load.sumome.com/" data-sumo-site-id="446a5b0fa1b53a33228ed1b1dc9b243b0bc10283f5c9342c1d3c526058abcc33" async="async"></script>-->
</head>
