<header id="heading-storesense">
    <div class="container">
        <div class="intro-text">
            <div class="row">
                <div class="col-md-8">
                    <div class="intro-heading">Making sense of your store</div>

                    <h3 class="intro-subheading">
                        Increase customer satisfaction, optimise in-store advertising and increase store revenue using premium Wi-Fi analytics
                    </h3>
                </div>
                <div class="col-md-4">
                    <a href="#contact" class="page-scroll btn btn-xl header-btn">Try out Storesense</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8"></div>
            </div>
        </div>
    </div>
</header>