
<!-- Start Google Analytics Code -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-51564934-4', 'auto');
        ga('send', 'pageview');
    </script>
<!-- End Google Analytics code -->

<!-- Start of Async HubSpot Analytics Code -->
    <script type="text/javascript">
        (function(d,s,i,r) {
            if (d.getElementById(i)){return;}
            var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
            n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/735484.js';
            e.parentNode.insertBefore(n, e);
        })(document,"script","hs-analytics",300000);
    </script>
<!-- End of Async HubSpot Analytics Code -->

<!-- jQuery -->
<script src="{{ site.baseurl }}/js/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="{{ site.baseurl }}/js/jquery.easing.min.js"></script>
<script src="{{ site.baseurl }}/js/classie.js"></script>
<script src="{{ site.baseurl }}/js/cbpAnimatedHeader.js"></script>

<!-- Contact Form JavaScript -->
<script src="{{ site.baseurl }}/js/jqBootstrapValidation.js"></script>
<script src="{{ site.baseurl }}/js/contact_me.js"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ site.baseurl }}/js/agency.js"></script>

<!-- Cookie warning -->
<script src="{{ site.baseurl }}/js/cookiewarning4.js"></script>
