<script>
$(function() {
    $('.centered_warning').css({
        'position' : 'absolute',
        'margin-top' : $(this).height()/3
    });
});
</script>

<section id="login">
	<div class="container">
		<div class="row">
		    <form class="centered_warning col-md-2 col-md-offset-5 col-xs-offset-4" style="text-align: center;">
                <div class="form-group">
                    <input type="text" class="form-control input login-format" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control input login-format" placeholder="Password">
                </div>
                <div class="form-group">
                   <button class="btn btn-primary btn btn-block">Sign In</button>
                </div>
            </form>
		</div>
	</div>
</section>