<!-- Navigation -->

<nav class="navbar navbar-default navbar-fixed-top {% if include.param == 'expo' or include.param == 'storesense' %} navbar-transparent {% endif %}">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
                {% if include.param == "storesense" %}
                    <img src="{{ site.baseurl }}/img/storesense_logo.png">
                {% else %}
                    <img src="{{ site.baseurl }}/img/expo_logo.png">
                {% endif %}
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    {% if include.param == "storesense" %}
                        <a href="/">Expo</a>
                    {% else %}
                        <a href="{{ site.baseurl }}/storesense">Storesense</a>
                    {% endif %}
                </li>

                <li>
                    <a href="http://blog.storesense.info">Blog</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
